@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family:"open sans";
    margin:0;
}

nav > a {
    border:rgb(255, 255, 255) solid;text-decoration: none;
    list-style:none;
    text-align:center;
    color:white;
    padding:10px;
    border-radius:.5rem;
    

}

nav {
    display:flex;
    justify-content:space-around;
    background-color: #556;
    padding:1rem;
}

h1 {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);
    font-weight:500;
    font-size:4rem;
    margin:0rem;
}

.hero > p {
    font-size:1.5rem;
    margin:0rem;
}

.headline-one {
    background-color:rgb(230, 230, 230);
    padding:1rem;

}

.headline-two {
    background-color:rgb(230, 230, 230);
    padding:1rem;
}

.headline-three {
    background-color:rgb(230, 230, 230);
    padding:1rem;
}

.hero {
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    background-image:url('img/img11.jpg');
    background-size:cover;
    height:500px;
    color:white;
}

.banner {
    width:50px;
}

.three-headline {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:30px;
    margin-bottom:30px;
    grid-gap:1rem;
    text-align:center
}

.img1 {
    border-radius:.2rem;
}

.img2 {
    border-radius:.2rem;
}

.img3 {
    border-radius:.2rem;
}

.im4 {
    border-radius:.2rem;
}

.img5 {
    border-radius:.2rem;
}

.green-button {
    background-color: #178A27;
    color:white;
    font-size:1.5rem;
    text-decoration:none;
    padding:0.4rem;
    border-radius:.35rem;
}

.see-details { 
    background-color: #1686C1;
    color:white;
    font-size:1.5rem;
    text-decoration:none;
    padding:0.4rem;
    border-radius:.35rem;
}

.red-button {
    background-color: #852406;
    color:white;
    font-size:1.5rem;
    text-decoration:none;
    padding:0.4rem;
    border-radius:.35rem;
}

.headline-h3-one {
    color:#178A27;
    font-size:2rem;
    text-align:left;
    margin-top:0.5rem;
}

.headline-h3-two {
    color:#1686C1;
    font-size:2rem;
    text-align:left;
    margin-top:0.5rem;
}

.headline-h3-three {
    color:#852406;
    font-size:2rem;
    text-align:left;
    margin-top:0.5rem;
}

.two-column-section {
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align:center;
    gap:3rem;   
}

.two-column-left {
   background-color: #D9D9D9;
   margin-right:0px;
   margin-left:130px;
   padding:1rem;
}

.two-column-title { 
    color:#555566;
    font-size:2rem;
    margin-top:0.5rem;
}

.two-column-title-2 { 
    color:#555566;
    font-size:2rem;
    margin-top:0.5rem;
}

.two-column-right {
    background-color: #D9D9D9;
    margin-right:130px;
    margin-left:0px;
    padding:1rem;
}


.read-more { 
    background-color: #ffffff;
    color:#555566;
    font-size:1.2rem;
    text-decoration:none;
    padding:0.4rem;
    border-radius:.35rem;
    border: 1px solid #555566;
}

.services-section {
    display: flex;
    justify-content:center;
    flex-direction:column;
    height:400px;
    align-items:center;
    text-align:center;
    background-image:url('img/img13.jpg');
    background-size:cover;
    color:white;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);
    font-size:2rem;
 }

.services-description {
    width:60%;
 }

.four-column-section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align:center;
    padding:2rem;
    gap:2rem;
    color:#767676;
}

.four-column-one {
    background-color: #F2F2F2;
    padding:1rem;
}

.four-column-two {
    background-color:#F2F2F2;
    padding:1rem;
}

.read-it {
    background-color:#F2F2F2;
    color:#555566;
    text-decoration:none;
    padding:0.4rem;
    border-radius:.35rem;
    border: 1px solid #555566;
}

.details {
    background-color:#F2F2F2;
    color:#555566;
    text-decoration:none;
    padding:0.4rem;
    border-radius:.35rem;
    border: 1px solid #555566;
}

.four-column-three {
    background-color:#F2F2F2;
    padding:1rem;
}

.four-column-four {
    background-color:#F2F2F2;
    padding:1rem;
}

.four-column-h3 {
    font-size:1.6rem;
    margin-top:0.5rem;
}

.one-big-column { 
    display:grid;
    justify-items:center;
}